<% provide(:title, "Σχετικά")%>
<body>
  <h1><%= yield(:title)%></h1>
  <p>
    Η εφαρμογή <em>Sociopub</em> ξεκίνησε στα πλαίσια πτυχιακής εργασίας από το <%= link_to "Σάββα Αλεξάνδρου", "http://www.savinos.org/", :target => "_blank"%>, Προπτυχιακό Φοιτητή του <%= link_to "Τμήματος Πληροφορικής Πανεπιστημίου Κύπρου", "http://www.cs.ucy.ac.cy/", :target => "_blank" %>  με τη καθοδήγηση του καθηγητή <%= link_to  "Μάριου Δικαιάκου", "http://www.cs.ucy.ac.cy/~mdd/", :target => "_blank" %> και του μεταπτυχιακού φοιτητή <%= link_to "Αθανάσιου Φουδούλη", "http://linc.ucy.ac.cy/index.php/people/userprofile/thanasis", :target => "_blank"%>.
  </p>
  <p>
    Ευχαριστίες:
    <ul>
      <li><%= link_to "Cyprus Community Media Center", "http://cypruscommunitymedia.org/", :target => "_blank"%></li>
      <li>
	Μαρία Μαραντίδου
      </li>
    </ul>
  </p>
  <p>
    Πηγές που μελετήθηκαν:
    <ul>
      <li><%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/book/", :target => "_blank"%></li>
      <li><%= link_to "The Cucumber Book: Behaviour-Driven Development for Testers and Developers", "https://pragprog.com/book/hwcuc/the-cucumber-book", :target => "_blank"%></li>
      <li><%= link_to "Engineering Software as a Service: An Agile Approach Using Cloud Computing", "http://www.saasbook.info/", :target => "_blank"%></li>
    </ul>
  </p>
</body>
