<% provide(:title, "Κουτί Ιδεών") %>
<body>
  <h1><%= yield(:title) %></h1>
  <h3>Ευέλικτο Μοντέλο</h3>
  <p>
    Για την ανάπτυξη της εφαρμογής χρησιμοποιείται το <%= link_to "Ευέλικτο Μοντέλο", "http://www.agilemanifesto.org/principles.html", :target => "_blank"%>.
  </p>
  <p>
    Αυτό σημαίνει πως οι προγραμματιστές δουλεύουν μαζί με τους "πελάτες" - χρήστες της εφαρμογής και πρώτη προτεραιότητα είναι οι χρήστες να μένουν ευχαριστημένοι μέσω έγκαιρης και συνεχής παράδοσης χρήσιμου λογισμικού. 
  </p>
  <p>
    Επίσης, οι απαιτήσεις και οι λειτουργίες της εφαρμογής μπορούν να αλλάζουν συνεχώς, ακόμα και στα τέλη της ανάπτυξης.
  </p>
  <h3>Δηλαδή τι πρέπει να κάνω;</h3>
  <p>Μπορείς να εισηγηθείς άμεσα ένα σενάριο ή μια λειτουργία της εφαρμογής.
    <ul>
      <li>Στείλε απλά ένα <%=mail_to "sociopub@gmail.com", "email",
				     subject: "Προτείνω #feature Όνομα Λειτουργίας",
				     body: "Λειτουργία: Τίτλος Λειτουργίας <br><br>
<<<<<<< HEAD

				     Ούτως ώστε να πετύχω κάποιο συγκεκριμένο στόχο <br> 
				     Ως χρήστης της εφαρμογή <br>
				     Προτείνω μια συγκεκριμένη λειτουργία.<br><br>
 		   
				     Σενάριο: Τίτλος Σενάρίου <br> 
				     Δεδομένου μιας κατάσταση π.χ βρίσκομαι σε μια σελίδα της εφαρμογή <br>
				     Όταν γίνεται κάτι <br>
				     Τότε πρέπει να παίρνω πίσω κάτι <br>
				     Και κάτι άλλο <br><br>
				     Σου επισυνάπτω τη πιο κάτω εικόνα που έκανα με χαρτί και μολύβι για να καταλάβεις καλύτερα τι εννοώ."%></li>
=======
					    \n
				     Ούτως ώστε να πετύχω κάποιο συγκεκριμένο στόχο <br> \n
				     Ως χρήστης της εφαρμογής <br> \n
				     Προτείνω μια συγκεκριμένη λειτουργία.<br><br> \n\n
				     
				     Σενάριο: Τίτλος Σεναρίου <br> \n
				     Δεδομένης μιας κατάστασης π.χ βρίσκομαι σε μια σελίδα της εφαρμογής <br> \n
				     Όταν γίνεται κάτι <br> \n
				     Τότε πρέπει να παίρνω πίσω κάτι <br> \n
				     και κάτι άλλο <br><br>
				     \n\n
				     Σου επισυνάπτω την πιο κάτω εικόνα που έκανα με χαρτί και μολύβι για να καταλάβεις καλύτερα τι εννοώ.
				     "%></li>
>>>>>>> 00f486f1994a6072d2af2bad9cdbe05b5ed41fe7
      <li>Η στείλε μήνυμα μέσω <%= link_to "twitter", "https://twitter.com/intent/tweet?text=@sociopub σου προτείνω %23feature <σύντομη περιγραφή>. <Δες την εικόνα που ανεβάζω για να καταλάβεις τι εννοώ>", :target => "_blank"%></li>
    </ul>
    Στην αρχή κάθε εβδομάδας θα επιλέγονται οι πιο σημαντικές λειτουργίες και θα υλοποιούνται. Μπορεί να σε καλέσουμε για μια άμεση επικοινωνία ώστε να συζητήσουμε καλύτερα τη πρότασή σου.
  </p>
  <h3>Πώς ακριβώς δουλεύει; Πώς μπορώ να παρακολουθώ τη πορεία της Λειτουργίας που εισηγήθηκα;</h3>
  <p>
    <ol>
      
      <li>Μόλις στείλεις email ή tweet η πρότασή σου θα καταχωρηθεί στο <%= link_to "github",  "https://github.com/Savinos90/sociopub/labels/enhancement", :target => "_blank"%>.</li>
      <li>Επειδή δεχόμαστε καθημερινά πολλές προτάσεις από αυτές φιλτράρονται οι πιο σημαντικές για να υλοποιηθούν. Όταν επισημανθεί η λειτουργία που εισηγήθηκες με την ετικέτα <%= link_to "current", "https://github.com/Savinos90/sociopub/labels/current", :target => "blank" %> σημαίνει θα υλοποιηθεί στον επόμενο κύκλο ανάπτυξης (συνήθως μια με δύο εβδομάδες).
    </ol>
  <p>Και το πιο ενδιαφέρον, χάρη στο εργαλείο <%= link_to "cucumber", "https://cucumber.io", :target => "_blank" %> που χρησιμοποιούμαι θα μπορείς να δεις ποιά σενάρια είναι υλοποιημένα και ποια εκκρεμούν για υλοποίηση από <%= link_to "εδώ", "http://savinos90.github.io/sociopub-features/", :target => "_blank" %>. Μόλις ένα σενάριο ή μια λειτουργία γίνουν πράσινα σημαίνει πως έχει υλοποιηθεί.</p>

  </p>
  <h3>Τι μπορεί να θεωρηθεί μια καλή πρόταση λειτουργίας ή σεναρίου;</h3><br>
  <p>
    Κατ' αρχάς πρέπει να ξεκαθαρίσουμε τη διαφορά λειτουργίας και σεναρίου.<br>
    Μια λειτουργία αποτελείται από ένα ή περισσότερα συνήθως σενάρια.<br>
    Για παράδειγμα, η Συνδρομή σε Ροή είναι η Λειτουργία η οποία αποτελείται από τα σενάρια
    Συνδρομή σε ροή, Ακύρωση συνδρομής σε ροή, Προσθήκη συνδρομής με μη έγκυρο υπερσύνδεσμο κλπ.
    Μια γρήγορη ανάγνωση των υφιστάμενων λειτουργιών και σεναρίων πιστεύω θα σε κατατοπίσει.<br>
    Πιο κάτω μπορείς να δεις πως μπορείς να προτείνεις μια καινούργια λειτουργία, πως μπορείς να την τεκμηριώσεις και, τέλος, πως βελτιώνεται ένα κακό παράδειγμα σεναρίου.
    <br>
<<<<<<< HEAD
    Μια καινούργια λειτουργία συνίσταται να προταθεί με το εξής πρότυπο:<br><br>
=======
    Μια καινούρια λειτουργία συνίσταται να προταθεί με το εξής πρότυπο:<br><br>
>>>>>>> 00f486f1994a6072d2af2bad9cdbe05b5ed41fe7
    <i>Ούτως ώστε να πετύχω κάποιο συγκεκριμένο στόχο</i><br>
    <i>Ως χρήστης ή κάτι άλλο ανάλογα με τη σχέση μου με την εφαρμογή</i><br>
    <i>Θέλω μια συγκεκριμένη λειτουργία.</i><br><br>
    Παράδειγμα<br>
    <i>Για να μπορώ να μπορώ να επαναφέρω το κωδικό μου σε περίπτωση που τον ξεχάσω</i><br>
    <i>Ως ξεχασιάρης χρήστης</i><br>
    <i>Προτείνω τη λειτουργία Ξέχασα τον κωδικό</i><br>
    <br><br>
  </p>
  
  <p>Η λειτουργία που θα προταθεί θα πρέπει να δίνει αξία στην εφαρμογή. Ένας τρόπος για να ελεγχθεί αυτό είναι η μέθοδος των "5 Γιατί". Ρωτώντας 5 φορές αναδρομικά γιατί να υλοποιήσω αυτή τη λειτουργία θα πρέπει να καταλήγει σε μια απάντηση που να είναι κοντά στο στόχο της εφαρμογής. Ένα παράδειγμα είναι το πιο κάτω:
    <br><br>
    <i><strong>Γιατί να θες να επαναφέρεις το κωδικό;</strong></i><br>
    <i>Αν μπορώ να τον επαναφέρω δεν θα σταματήσω να χρησιμοποιώ την εφαρμογή</i><br>
    <i><strong>Γιατί να πειράζει αν σταματήσεις να χρησιμοποιείς την εφαρμογή;</strong></i><br>
    <i>Αν σταματήσω να χρησιμοποιώ την εφαρμογή χάνει η εφαρμογή από την αξία της</i><br>
    <i><strong>Γιατί αν σταματήσει ένα χρήστης να χρησιμοποιεί την εφαρμογή να χάσει από την αξία της;</strong></i><br>
    <i>Λιγότεροι χρήστες, λιγότερο δημοφιλής εφαρμογή, λιγότερες προτάσεις λειτουργιών, λιγότερες δυνατότητες να πετύχει</i><br>
    <i><strong>Γιατί να θες να πετύχει;</strong></i><br>
    <i>Αν η εφαρμογή πετύχει δεν θα υποφέρουν οι άνθρωποι από το φαινόμενο υπερφόρτωσης της πληροφορίας.</i><br>
    <i><strong>Γιατί να αποφεύγεται το φαινόμενο υπερφόρτωσης πληροφορίας;</strong></i><br>
    <i>Έτσι ο κόσμος θα είναι πιο χαρούμενος και πιο παραγωγίκός.</i><br>
  </p>
  <br><br>
  <p>Περιττές Λεπτομέρειες σε σενάριo, ένα παράδειγμα
    <ul>
      <li>  Σενάριο: Έλεγχος εισερχόμενων
	<ul>
	  <li>  Δεδομένου ενός Χρήστη "John" με κωδικό "password"</li>
	  <li>  Και ενός Χρήστη "Sue" με κωδικό "secret"</li>
	  <li>  Και ένας email από τη "Sue" στο "John"</li>
	  <li>  Όταν εισέρχομαι στην εφαρμογή ως "John" με κωδικό "password"</li>
	  <li>  Τότε πρέπει να δω 1 email από τη "Sue" στα εισερχόμενα μου</li>
	</ul>
      </li>
    </ul>
  <p>Θα μπορούσε να γραφτεί ως εξής:</p>
  <ul>
    <li>  Σενάριο: Έλεγχος εισερχόμενων
      
      <ul>
	<li>  Δεδομένου ενός Χρήστη "John"</li>
	<li>  Και ενός Χρήστη "Sue"</li>
	<li>  Και ενός email από τη "Sue" στο "John"</li>
	<li>  Όταν εισέρχομαι στην εφαρμογή ως "John"</li>
	<li>  Τότε πρέπει να δω 1 email από τη "Sue" στα εισερχόμενα μου</li>
      </ul>
    </li>
  </ul>

  <p>Ή ακόμα καλύτερα ως εξής:</p>
  <ul>
    <li>  Σενάριο: Έλεγχος εισερχόμενων
      <ul>
	<li>  Δεδομένου ότι έχω λάβει ένα email από τη "Sue"</li>
	<li>  Όταν εισέρχομαι στην εφαρμογή</li>
	<li>  Τότε πρέπει να δω 1 email από τη "Sue" στα εισερχόμενα μου</li>
      </ul>
    </li>
  </ul>
  </p>
  <!-- Από το κεφάλαιο του cucumber 6 imperative/declerative + ubiquitous-->
  
</body>
