<%= form_for(:session, url: login_path) do |f| %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>
 
<%= f.label :remember_me, class: "checkbox inline" do%>
<%= f.check_box :remember_me %>
<span>Να με θυμηθείς όταν ξαναμπώ απ' αυτόν τον υπολογιστή.</span>
<% end %>
<%= f.submit "Είσοδος", class: "btn btn-primary"%>
<% end %>
