<%= form_for(:session, url: sessions_path) do |f| %>
<table>
  <tr>
    <td> <%= f.label :"όνομα χρήστη" %> </td>
    <td> <%= f.label :"κωδικός πρόσβασης" %> </td>
    <td></td>
  </tr>
  <tr>
    <td> <%= f.text_field :name %></td>
    <td><%= f.password_field :password %> </td>
    <td><%= f.submit "είσοδος", 
	    class: "btn btn-default" %></td>
  </tr>
  <tr>
    <td>
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>θυμήσου με</span>
    </td>
    <td>
    </td>
    <% end %>
    <td></td>
  </tr>
</table>

<% end %>
