<%= form_for(:session, url: sessions_path) do |f| %>
<%= f.label :"Όνομα Χρήστη" %>
<%= f.label :"Κωδικός Πρόσβασης" %>
<li>
<%= f.text_field :username %>
<%= f.password_field :password %>
<%= f.submit "Είσοδος" %>
</li>

<% end %>
