<%= form_for(:session, url: sessions_path) do |f| %>
<table>
  <tr>
    <td> <%= f.label :"Όνομα Χρήστη" %> </td>
    <td> <%= f.label :"Κωδικός Πρόσβασης" %> </td>
    <td></td>
  </tr>
  <tr>
    <td> <%= f.text_field :username %></td>
    <td><%= f.password_field :password %> </td>
    <td><%= f.submit "Είσοδος", 
	    class: "btn btn-default" %></td>
  </tr>
</table>

<% end %>
