<!-- it's better to rename that file because - different from other forms -->

<%= form_for(@feed) do |f| %>
<%= render 'shared/error_feeds'%>
<div class="field">
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>
<div class="actions">
  <%= f.submit "Προσθήκη", class: "btn btn-primary"%>
</div>
<% end %>
