<% provide(:title, 'Όλα τα άρθρα') %>
<h1>Όλα τα άρθρα</h1>
<%= will_paginate %>
<% @entries.each do |entry| %>
<li>
  <%= link_to entry.title, entry.url, :target => "_blank" %> 
  |   <%= link_to "Αποθήκευση",  '#'  %>
  |   <%= link_to "Διάβασε",  '#'  %>
  
  <!-- save_path(:id => feed.id, :page => params[:page] ) -->
  <!--%= link_to entry.title, entry.url, :target => "_blank" %-->
</li>
<% end %>
</ul>

<%= will_paginate%>
