<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username%>
</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Όνομα Χρήστη:</strong>
  <%= @user.username %>
</p>

<<<<<<< HEAD
=======
<p>
  <strong>Ηλεκτρονική Διεύθυνση:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h2>Η ροή μου.</h2>
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70
