<%= form_for(:subscription, url: subscriptions_path) do |f| %>

<div class="field">
<<<<<<< HEAD
  <%= f.label :url, "Υπερσύνδεσμος (RSS Feed link)" %><br>
=======
  <%= f.label :url %><br>
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70
  <%= f.text_field :url, class: 'form-control' %>
</div>

<div class="actions">
  <%= f.submit "Εγγραφή", class: "btn btn-primary"%>
</div>

<% end %>
