<<<<<<< HEAD

<% provide(:title, 'Εφημερίδα') %>
<h2> Επιλεγμένα Άρθρα </h2>

<!-- aprox 5ms-->
<%= will_paginate %>
<ul>
<% @newspaper.each do |entry| %>
<li>
  <article>
    <%= link_to entry.title, entry.url, :target => "_blank" %>
    | <% entry.keywords.each do |tag|  %>
    #<%= tag %> 
    <% end %>
    | <%= Addressable::URI.parse(entry.url).host%>
    
  </article>
=======
<% provide(:title, 'Εφημερίδα') %>
<h2> Επιλεγμένα Άρθρα </h2>

<%= will_paginate %>

<% @newspaper.each do |entry| %>
<li>
  <%= link_to entry.title, entry.url, :target => "_blank" %> 
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70
</li>
<% end %>
</ul>

<%= will_paginate%>
