<footer class="footer">
  <small>
<<<<<<< HEAD
    Ο κώδικας είναι διαθέσιμος στο <%= link_to "github", "https://github.com/Savinos90/sociopub", :target => "_blank" %>
=======
    Εφαρμογή  sociopub  - <a href="http://www.cs.ucy.ac.cy/~salexa03/">Savvas Alexandrou</a>
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70
  </small>
  <nav>
    <ul>
      <li><%= link_to "Σχετικά", 'about' %></li>
<<<<<<< HEAD
      <li> <%= link_to "Επικοινωνία", contact_path %> </li> 
=======
      <li><%= link_to "Επικοινωνία", 'contact' %></li>
      <li><%= link_to "Νέα", '#' %></li>
>>>>>>> 33d0173cfd79df6567b76997b2b01b34b8f68d70
    </ul>
  </nav>
</footer>
